<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/index.css">
    <title>学生管理</title>
</head>
<body>
    <main class="root">
        <div class="header">
            <h2>学生管理系统</h2>
        </div>
        <div class="content">
            <div class="login">
                <div class="login_input"><input type="text" placeholder="  Username" id="username"></div>
                <div class="login_input"><input type="text" placeholder="  Numner" id="number"></div>
                <div class="login_input">
                    <input type="text" placeholder="  Code" id="code">
                    <div class="prove">1128</div>
                </div>
                <div class="login_input"><button class="login_button" onclick="jump()">
                   <a href="/students">Sign up</a> 
                </button></div>
            </div>
        </div>
        <div class="footer">
            <p>made by Zzzgxz</p>
        </div>
    </main>
</body>
<script>
    function jump(){
        window.location.href="/students";
    }
</script>
</html>