.side{
    width: 267px;
    height: 700px;
    float: left;
    background: #fff;
}

.side img{
    width: 220px;
    height: 200px;
    margin-left: 45px;
    margin-top: 20px;
}

.content{
    width: 599px;
    height: 700px;
    float: right;
    background: #fff;
    border-left: 1px solid #ccc;
}



.content h1{
    background: url(./images/lou.gif);
    width: 127px;
    height: 26px;
    font-size: 100%;
    text-indent: -9999px;
    margin-left: 45px;
    margin-top: 20px;
}

.content dl{
    width: 250px;
    height: 181px;
    float: left;
    margin-left: 20px;
}

.content dl dd{
    width: 250px;
    height: 150px;
    margin-left: 20px;
}

.content di dd img{
    display: block;
    width: 250px;
    height: 150px;
}

.content dl dt{
    margin: 0 auto;
    width: 234px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #eee;
    border-bottom: 1px solid #f60;
    margin-left: 30px;
}

.content p{
    padding-top: 30px;
    text-align: center;
    clear: both;
}