*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: #fff;
    font-family: "Microsoft YaHei";
}

.mod_header{
    background-color: #fff;
    width: 1270px;
    height: 142px;
    margin: 0 auto;
    display: flex;
}

.section_inner{
    margin: 0 auto;
    width: 1200px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
}

.qqmusic_title{
    width: 170px;
    height: 46px;
    margin-top: 22px;
}

.mod_top_nav{
    width: 513.1px;
    height: 90px;
    display: flex;
    font-size: 18px;
    text-align: center;
    line-height: 90px;
}

.top_nav__item1{
    background-color: #31c27c;
    width: 94px;
    height: 90px;
    margin-left: 28px;
    text-decoration: none;
    color: #fff;
    font-family: "Microsoft YaHei";
}

.top_nav__item2{
    background-color: white;
    padding-left: 15px;
    padding-right: 20px;
    width: 72px;
    height: 90px;
    color: black;
    text-decoration: none;
    font-family: "Microsoft YaHei";
}

.top_nav__item3{
    background-color: white;
    width: 84px;
    height: 90px;
    color: black;
    text-decoration: none;
    font-family: "Microsoft YaHei";
}

.top_nav__item4{
    background-color: white;
    width: 112px;
    height: 90px;
    color: black;
    text-decoration: none;
    font-family: "Microsoft YaHei";
}

.top_nav__item5{
    background-color: white;
    width: 59.1px;
    height: 90px;
    color: black;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    font-size: 17px;
    font-weight: 300;
}

.mod_top_search{
    display: flex;
    margin-left: 14px;
    width: 220px;
    height: 90px;
    flex-wrap: nowrap;
}

.mod_search_input{
    margin-top: 26px;
    width: 174px;
    height: 36px;
}

.mod_search_input_input{
    width: 208px;
    height: 36px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 10px;
    line-height: 36px;
    font-family: "Microsoft YaHei";
}

.search_input_btn{
    width: 0px;
    height: 10px;
    border: none;
    outline: none;
    position: absolute;
    margin-left: 187px;
    margin-top: -35px;
    background-color: #fff;
}

.search_image{
    width: 28px;
    height: 28px;
}

.header__opt{
    margin-left: 5px;
    height: 90px;
    background-color: #fff;
    text-align: center;
}

.mod_top_login_1{
    width: 38px;
    height: 90px;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 90px;
    padding-right: 10px;
    padding-left: 13.5px;
}

.mod_top_login_2{
    margin-left: 20px;
    width: 91px;
    height: 36px;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid #31c27c;
    background-color: #31c27c;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 3px;
    color: white;
}

.mod_top_login_3{
    margin-left: 5px;
    width: 91px;
    height: 36px;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid #c9c9c9;
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 3px;
    color: black;
    font-size: 13px;
}

.mod_top_login_2{
    margin-left: 10px;
    width: 91px;
    height: 36px;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid #31c27c;
    background-color: #31c27c;
    font-size: 13px;
}

.mod_top_subnav{
    display: flex;
    padding-left: 230px;
    width: 1020px;
    height: 51px;
    background-color: #fff;
    border-top: 1px solid #f2f2f2;
}

.top_subnav_item1{
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 51px;
    font-size: 15px;
    color: #31c21c;
    margin-right: 47px;
}

.top_subnav_item2{
    width:30px;
    height: 50.667;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 51px;
    font-size: 15px;
    color: black;
    margin-right: 47px;
}

.top_subnav_item3{
    width:30px;
    height: 50.667;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 51px;
    font-size: 15px;
    color: black;
    margin-right: 47px;
}

.top_subnav_item4{
    width:45px;
    height: 50.667;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 51px;
    font-size: 15px;
    color: black;
    margin-right: 47px;
}

.top_subnav_item5{
    width:60px;
    height: 50.667;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 51px;
    font-size: 15px;
    color: black;
    margin-right: 47px;
}

.top_subnav_item6{
    width:30px;
    height: 50.667;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 51px;
    font-size: 15px;
    color: black;
    margin-right: 47px;
}

.top_subnav_item7{
    width:22.521px;
    height: 50.667;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 51px;
    font-size: 15px;
    color: black;
    margin-right: 47px;
}

.top_subnav_item8{
    width:60px;
    height: 50.667;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 51px;
    font-size: 15px;
    color: black;
    margin-right: 47px;
}

.top_subnav_item9{
    width:30px;
    height: 50.667;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 51px;
    font-size: 15px;
    color: black;
    margin-right: 47px;
}

.new{
    background-color: #eeeeee;
}

.gdtj{
    background-color: #eeeeee;
    text-align: center;
}

.introduce{
    width: 1270px;
    height: 532px;
    background-color: #eeeeee;
}

.inner{
    margin-left: 35px;
    margin-right: 35px;
    width: 1200px;
    height: 532px;
}

.inner_1{
    padding-top: 50px;
    padding-bottom: 24px;
    background-color: #eeeeee;
}

.inner_2{
    width: 1200px;
    height: 50px;
    background-color: #eeeeee;
    text-align: center;
}

.inner_2_item_1{
    width: 60px;
    height: 22px;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 22px;
    font-size: 15px;
    color: #31c21c;
    margin-left: 24px;
    margin-right: 24px;
}

.inner_2_item_2{
    width: 30px;
    height: 22px;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 22px;
    font-size: 15px;
    color: black;
    margin-left: 24px;
    margin-right: 24px;
}

.inner_2_item_3{
    width: 60px;
    height: 22px;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 22px;
    font-size: 15px;
    color: black;
    margin-left: 24px;
    margin-right: 24px;
}

.inner_2_item_4{
    width: 60px;
    height: 22px;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 22px;
    font-size: 15px;
    color: black;
    margin-left: 24px;
    margin-right: 24px;
}

.inner_2_item_5{
    width: 60px;
    height: 22px;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 22px;
    font-size: 15px;
    color: black;
    margin-left: 24px;
    margin-right: 24px;
}

.inner_2_item_6{
    width: 30px;
    height: 22px;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 22px;
    font-size: 15px;
    color: black;
    margin-left: 24px;
    margin-right: 24px;
}

.inner_inner_3{
    display: flex;
}

.inner_3_1_0{
    width: 224px;
    height: 224px;
    margin-right: 20px;
}

.inner_3_1_1{
    padding-top: 10px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}

.inner_3_1_2{
    padding-top: 3px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #999999;
}

.new{
    width: 1270px;
    height: 556px;
    display: flex;
    background-color: #fff;
}

.new_inner{
    margin-left: 35px;
    margin-right: 35px;
    width: 1200px;
    height: 556px;
}

.new_inner_hd{
    background-color: #fff;
    width: 1200px;
    height: 40px;
    padding-top: 50px;
    padding-bottom: 24px;
    text-align: center;
    line-height: 40px;

}

.new_inner_inner{
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
}

.new_inner_input{
    width: 110px;
    height: 36px;;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 10px;
    line-height: 36px;
    font-family: "Microsoft YaHei";
    color: black;
}

.new_inner_img{
    margin-left: 5px;
    padding-top: 0px;
}

.new_inner_img{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 5px;
    padding-left: -50px;
}

.new_inner_tab{
    padding-left: 233px;
    width: 1200px;
    height: 50px;
    font-size: 15px;
    line-height: 1.5;
    font-family: "Microsoft YaHei";
    text-decoration: none;
}

.new_inner-tab1{
    width: 30px;
    height: 22px;
    margin-left: 24px;
    margin-right: 24px;
    text-decoration: none;
    color: black;
}

.new_inner-tab0{
    width: 30px;
    height: 22px;
    margin-left: 24px;
    margin-right: 24px;
    text-decoration: none;
}

.songlist{
    margin-top: 11px;
    margin-bottom: 10px;
    width: 1230px;
    height: 333px;
    background-color: #fff;
}

.songlist_item{
    width: 1230px;
    height: 333px;
    display: flex;
    flex-wrap: wrap;
}

.songlist_item1{
    width: 379.9px;
    height: 86px;
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 13px;
    border-top: 1px solid #f2f2f2;
    background-color: #fff;
    display: flex;
}

.songlist_img{
    width: 86px;
    height: 86px;
    padding-right: 10px;
}

.songlist_item_item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.songlist_1{
    width: 100px;
    height:20.667px;
    padding-top: 21px;
    padding-bottom: 2px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}

.songlist_2{
    width: 150px;
    height:20.667px;
    padding-bottom: 2px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #999999;
}

.songlist_3{
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #999999;
    position: absolute;
    margin-top: 35px;
    margin-left: 360px;
}